.a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 4px;
}

a:hover {
    background-color: #ddd;
    color: black;
}
