{% extends 'base.html' %}

{% block content %}
<div class="container">
<span><h1> About this application </h1></span>
<p>This is the Very Buggy App (VBA), made for major project 2 of CSCI3540 Software Security Winter 2024. The developers of this app are: <br></p>
<ul>
    <li><a href="https://github.com/DavidHTwastaken" target="_blank">David Houle-Tymeczko</a></li>
    <li><a href="https://github.com/Sheida-Ebrahimi" target="_blank">Sheida Ebrahimi Siaghi</a></li>
    <li><a href="https://github.com/Sid-26" target="_blank">Siddhant Das</a></li>
</ul>
</div>
{% endblock %}