<script>
    
    function setActive(elem) {
        var a = document.getElementsByTagName('a');
        // loop through all 'a' elements
        for (i = 0; i < a.length; i++) {
            // Remove the class 'active' if it exists
            a[i].classList.remove('active')
        }
        // add 'active' classs to the element that was clicked
        elem.classList.add('active');
    }

</script>

<div class="header">
    <div class="header-left">
      <a href="#home" onclick="setActive(this)">Bugs</a>
      <a href="#contact" onclick="setActive(this)">About</a>
      <a href="#difficulty" onclick="setActive(this)">Difficulty</a>
      <a href="#about" onclick="setActive(this)">Log Out</a>
    </div>
  </div>
<link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>
<style>
    .header {
    overflow: hidden;
    background-color: #2b2929;
    padding: 20px 10px;
    font-family: 'IBM Plex Sans Condensed';
    font-size: 22px;
    border-radius: 10px;
    }

    .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    }

    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    }

    .header a:hover {
    background-color: #ddd;
    color: black;
    }


    .header a.active {
    background-color: dodgerblue;
    color: white;
    }

    .header-left {
    float: left;
    }
</style>