<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/login_register.css" />
        <title>Register Page</title>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <h1>Create Account</h1>
              <form class="register-form">
                <input type="text" id="username" placeholder="username"/>
                <input type="password" id="password" placeholder="password"/>
                <input type="password" id="confirm-password" placeholder="confirm password"/>
                <button id="register-form-submit">Register</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
              </form>
            </div>
          </div>
        
        <script src="../static/login_register.js"></script>
    </body>
</html>